<section id="explain_0">
	<div class="container">
		<div class="row">
			<div class="span8 offset2">
				<h2 class="title tHide">发表</h2>
				
				<div id="latest">	
					<%= form_tag('/symbols', :class => "form-horizontal") do %>
							
						<fieldset>
							<% if flash.now[:message] %>  
							    <div class="alert alert-error">
							    	<button type="button" class="close" data-dismiss="alert">×</button>
							    	<%= flash[:message] %>
							    </div> 
							<% end %>

							<div class=control-group>
								<label class="control-label" for="input01">您选择的年度字:</label>
								<div class="controls">
									<input type="text" class="input-small" id="taicii_content" name="taicii_content">
								</div>
							</div>
							

							<div class=control-group>
								<label class="control-label" for="input03">原因说明:</label>
								<div class="controls">
									<textarea class="input-xlarge span5" rows=5 id="topic_content" name="topic_content" placeholder="你选择这个字的原由"></textarea>
								</div>
							</div>
							<div class=control-group>
								<div class="controls">
									<input type="submit" class="btn-inverse btn-large" value="提交">
								</div>
							</div>
						</fieldset>
					<% end %>
				</div>

			</div>
		</div>
	</div>
</section>
