<section id="explain_0">
    <div class="container">
        <div class="row">
            <div class="span8 offset2">
                <h2 class="title tHide">关于年度汉字</h2>
                
                <div id="latest">

                    <div class="symbol">
                        <i class="icon-leaf"></i>
                        <span class="letter">汉</span>
                    </div>
                    
                    <div class="clear"></div>
                    <br>
                    <div>
                    <h4> <p>选一个汉字代表全年焦点</p>
                        <p>借汉字的言简意赅，年度汉字应具备相当的概括性和高度“浓缩性”</p>
                        <p>这是真的声音</p>
                    </h4>
                    </div>
                </div>
                <div class="clear"></div>

            </div>
        </div>
    </div>
</section>

