

    <section id="explain_0">
      <div class="container">
          <div class="row">
              <div class="span8 offset2">
                  <h2 class="title tHide">提示</h2>
                  <div id="latest">
                    <br><br><br>
                    <p>
                      呃^_@...系统Hold不住啦，请稍后再试呗<br>
                      
                      <a class="def" href="/">首页</a><br />
                    </p>
                    <br><br><br>
                  </div>
              </div>
          </div>
      </div>
    </section>
  